<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <title>Client Side</title>
</head>

<body>
  <div class="container my-container">
    <div class="title">
      <h1>{{title}}</h1>
    </div>
    {{>header}}

    <div class="my-data">
      <img src="https://pbs.twimg.com/profile_images/1416683498631430146/knxdu3ZW_400x400.jpg" alt="my-photo">
      <P>
        hello my full name is Aghna Faiz Ruzain, you can call me faiz :)
      </P>
    </div>

    
  </div>


  {{>footer}}
</body>

</html>